@model Bil372_Project.Models.SertifikaViewModel
@using Bil372_Project.Models


@{
    ViewBag.Title = "SertificateModel";
    Layout = "~/Views/Shared/Main.cshtml";
}
<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* Style the body */
        body {
            font-family: Arial;
            margin: 0;
        }

        /* Header/Logo Title */
        .header {
            padding: 60px;
            text-align: center;
            background: #1abc9c;
            color: white;
            font-size: 30px;
        }

        /* Page Content */
        .content {
            padding: 20px;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>List All My Sertificates</h1>

    </div>


    <table class="table table-bordered">
        <tr>
            <th> Sertifika Adı</th>
            <th> Sertifika Tarihi</th>
            <th>Sertifika Açıklama </th>

        </tr>
        <tbody>
            @foreach (var item in Model.SertifikaModels.ToList())
            {
                <tr>

                    <td>@item.sertifika_adi</td>
                    <td>@item.sertifika_tarihi</td>
                    <td>@item.sertifika_aciklama</td>


                </tr>
            }

        </tbody>


    </table>
</body>
